html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li, form, img, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	font: 14.67px Verdana, sans-serif;
	background: transparent;
}
select, input, textarea, button {
	font: 100% Verdana, sans-serif;
}


/* dark theme */
body.dark {
	background: #353433 url(http://tw.dt.in.th/homepage/tile-bg.gif) repeat-x;
	color: #e9e8e7;
}
body.dark h1 {
	padding-top: 100px;
	padding-bottom: 40px;
	font: bold 72pt FreeSans, Free Sans, Helvetica, Arial, sans-serif;
	color: #8b8685;
	text-align: center;
}
.footer {
	color: #555657;
}
.footer a {
	color: #6d6e6f;
	text-decoration: none;
}


/* global styles */
.pad {
	padding: 1em 3em;
}
.footer, .center {
	text-align: center;
}
.footer {
	padding-bottom: 40px;
	padding-top: 20px;
}
